# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
/lib/
/lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
**/android/app/local.properties
**/android/app/**/generated.xml
**/android/app/src/main/res/values/strings.xml
**/.packages
**/.pub-cache/
**/.pub/
**/build/
**/flutter_export_environment.sh
**/.dart_tool/
